body{
    background-color: #2a2828;
}
h1{
    color: #ffffff;
    position:relative;
    top: 80px;
    font-size: 55px;
}
a:link {
    color: rgb(74, 201, 74);
  }
a:hover {
    color: rgb(245, 245, 248);
}
a{
    text-decoration: none;
}
  
p{
    position:relative;
    top:60px;
}
h1,p{
    text-align: center;
    font-family: 等线, Verdana, Arial, sans-serif;
}
