body{
    background-color: #2a2828;
}
h1{
    color: #ffffff;
    position:relative;
    top: 80px;
    font-size: 55px;
}
a:link {
    color: rgb(74, 201, 74);
  }
a:hover {
    color: rgb(245, 245, 248);
}
a{
    text-decoration: none;
}
  
p{
    position:relative;
    top:60px;
}
h1,p{
    text-align: center;
    font-family: 等线, Verdana, Arial, sans-serif;
}
.mi{
    position:absolute;
    padding: 20px;
    margin: 100px 20px 100px 20px;
    display: inline-block;
}
img{
    margin: 12px;
    width: 320px;
    height: 320px;
}
.v{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 110px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: 358px 52px 358px 52px;
    color: #ffffff;
}
.a{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 135px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: -493px 401px -493px 401px;
    color: #ffffff;
}
.b{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 130px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: 363px 749.5px 363px 749.5px;
    color: #ffffff;
}
.c{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 140px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: -503px 1098px -503px 1098px;
    color: #ffffff;
}
.d{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 140px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: 711px 52px 711px 52px;
    color: #ffffff;
}
.e{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 105px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: -815px 401px -815px 401px;
    color: #ffffff;
}
.f{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 135px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: 679px 749.5px 679px 749.5px;
    color: #ffffff;
}
.g{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 105px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: -784px 1098px -784px 1098px;
    color: #ffffff;
}
.h{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 125px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: 1007px 52px 1007px 52px;
    color: #ffffff;
}
.i{
    position:relative;
    background: #1c1b1b;
    width: 320px;
    height: 115px;
    background-color: #1c1b1b;
    opacity: 0.7;
    margin: -1121px 401px -1121px 401px;
    color: #ffffff;
}
h3{
    font-size: 13px;
}
h2{
    font-size: 20px;
}
h4{
    font-size: 15px;
}
.a,.b,.c,.v,.d,.e,.f,.g,.h,.i{
    line-height: 1;
    font-size: -100px;
}
h3{
    background:rgb(245, 245, 248);
    display: inline-block;  
    color: #1c1b1b;
}
h2,h3,h4{
    margin-left: 10px;
    margin-right: 10px;
    text-align: 20px;
    margin-bottom: -7px;
}
.ku{
    position:absolute;
    background: #1c1b1b;
    width: 1000px;
    height: 100px;
    margin: 1200px 52px 1200px 52px;
}
h5,h6{
    color: #ffffff;
    margin-left: 30px;
    margin-right: 60px;
}
h5{
    font-size: 15px;
}
h6{
    font-size: 13px;
}
