p{
    color:#8fb2c9;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 20px;
}
h1{
    font-size: 1.2em;
    color: antiquewhite;
}
.guarantee p{
    padding: 25px;
    margin: 30px;
    line-height: 1.9em;
}