body {
	font-size: small; /* 新的属性值，请自行了解 */
	font-family: Verdana， Helvetica， Arial;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
h1,p,body{
  margin: 0%;
  padding: 0%;
	bottom: 0%;
}
.guarantee {
  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  margin: 30px;
  line-height: 1.9em;
  color: #444444;
  font-family: Georgia,"Times New Roman";
  background-image: url(images/background.gif);
  background-repeat: repeat-x;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-style: solid;
  border-width: medium;
  border-color: #61649f;
  border-bottom-style: dashed;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border-radius: 50%;
  }
p{
  border-style: dashed;
  border-color: white;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em; 
}
.elixirs {
	border-width: thin;
	border-style: solid;
	border-color: #007e7e;
  width: 200px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  margin-left: 20px;
  background-image:    url(images/cocktail.gif);
	background-repeat:   repeat-x;

	text-align:          center;  /* 文本剧中对齐 */
}
.cd{
  font-style: italic;
}
.artist{
  font-weight: bold;
}
